/* 全体 */
.staff-list__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0eff2;
    margin: 0 auto;
    padding: 70px 0;
}

.staff-list-content__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 1000px;
    min-width: 550px;
}

/* タイトル */
.title {
    padding: 0 22px;
    margin: 0;
    border-left: 10px solid #000;
    background: #f0eff2;
    width: 100%;
}

/* スタッフ一覧 */
.staff-list__list {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.staff-list {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.list-header {
    color: #747474;
    font-weight: bold;
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 4px solid #f0eff2;
    width: 25%;
}

.list-data {
    color: #747474;
    font-weight: bold;
    border-bottom: 3px solid #f0eff2;
    padding: 8px;
    word-wrap: break-word;
    width: 25%;
}

.list-header--space {
    border-bottom: 4px solid #f0eff2;
    width: 10%;
}

.list-data--space {
    border-bottom: 3px solid #f0eff2;
    width: 10%;
}

.list-data__detail {
    text-decoration: none;
    color: black;
    width: 25%;
}