.html,
.body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: auto;
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
}

.content__heading {
    text-align: center;
    margin-top: 60px;
    font-size: 34px;
}