.login-form__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.login-form__form {
    width: 40vw;
}

@media screen and (max-width: 1200px) {
    .login-form__form {
        width: 60vw;
    }
}

.login-form__group {
    margin-top: 25px;
}

.login-form__group:first-of-type {
    margin-top: 0;
}

.login-form__label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.login-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 40px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    }

.error-message {
    color: #ff0000;
}

.login-form__btn {
    margin: 60px auto 0;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #ff5555;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.register__link {
    display: inline-block;
    text-decoration: none;
    margin: 30px;
}