/* 全体 */
.attendance-detail__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0eff2;
    margin: 0 auto;
    padding: 70px 0;
}

.error {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: #ff5555;
    color: white;
    padding-left: 30px;
}

.success {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: #2adf6d;
    color: white;
    padding-left: 30px;
}

.attendance-detail-content__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    height: auto;
    width: 70%;
    max-width: 900px;
    min-width: 550px;
}

/* タイトル */
.title {
    padding: 0 22px;
    margin: 0;
    border-left: 10px solid #000;
    background: #f0eff2;
    width: 100%;
}

/* 申請フォーム */
