/* 全体 */
.attendance-list__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0eff2;
    margin: 0 auto;
    padding: 70px 0;
}

.attendance-list-content__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    height: auto;
    width: 70%;
}

/* タイトル */
.title {
    padding: 0 22px;
    margin: 0;
    border-left: 10px solid #000;
    background: #f0eff2;
    width: 100%;
}

/* 月日メニュー */
.attendance-list__date-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

/* カレンダーアイコン */
.month-picker {
    position: relative;
    display: inline-block;
}
.month-picker__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.month-picker::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url('/images/calendar-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

/* 勤怠一覧 */
.attendance-list__list {
    width: 100%;
    background-color: white;
}