.error {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: #ff5555;
    color: white;
    padding-left: 30px;
}

/* 全体 */
.correction_request__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0eff2;
    margin: 0 auto;
    padding: 70px 0;
}

.correction_request-content__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    height: auto;
    width: 70%;
    max-width: 900px;
    min-width: 550px;
}

/* タイトル */
.title {
    padding: 0 22px;
    margin: 0;
    border-left: 10px solid #000;
    background: #f0eff2;
    width: 100%;
}

/* リスト切り替え */
.list-menu {
    display: flex;
    justify-content: left;
    width: 70%;
    max-width: 900px;
    min-width: 550px;
    margin: 0 auto;
}

.list-menu> :first-child {
    margin-left: 10vw;
}

.list-menu__pending,
.list-menu__approved {
    font-weight: bold;
    padding-top: 25px;
    margin: 10px 25px;
    white-space: nowrap;
    text-decoration: none;
    color: #747474;
}

.list-menu__pending.active,
.list-menu__approved.active {
    color: black;
}

.hr {
    display: block;
    list-style: none;
    border: 1px solid black;
}

/* 申請一覧 */
.attendance-list__list {
    width: 70%;
    max-width: 900px;
    min-width: 550px;
    background-color: white;
    border-radius: 10px;
}

.attendance-list {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

.list-header,
.list-data {
    color: #747474;
    font-weight: bold;
    border-bottom: 3px solid #f0eff2;
    padding: 8px;
    word-wrap: break-word;
}

.list-header {
    border-bottom: 4px solid #f0eff2;
}

.list-data__detail {
    text-decoration: none;
    color: black;
}